body {
  background-color: rgb(132, 192, 189);
}

h1{
  background-color: rgb(100, 160, 158);
  padding: 1%;
  color: white;
}

h2{
  background-color: rgba(255, 255, 255, 0.635);
  padding: 1%;
}

#bigbox{
  display: flex;
  background-color: rgba(255, 255, 255, 0.79);
  padding: 1%;
}

ul {
  list-style-type: none;
}